body {
  margin: 0;
}

#page header {
  min-height: 189px;
}
#page header [class^=header-content] {
  width: 47.36842%;
  float: left;
  margin-left: 1.31579%;
  margin-right: 1.31579%;
  background-color: #333;
  background-color: hsla(0,0%,20%,0.2);
  margin-bottom: 10px;
  min-height: 189px;
}
#page header .wrapper {
  position: relative;
}
#page header .header-content-3,
#page header .header-content-4 {
  width: 200px;
}
#page header .header-content-3 {
  position: absolute;
  top: 0;
  left: -210px;
}
#page header .header-content-4 {
  position: absolute;
  top: 0;
  right: -210px;
}

#page [class^=content] {
  width: 30.76923%;
  float: left;
  margin-left: 1.28205%;
  margin-right: 1.28205%;
  background-color: #333;
  background-color: hsla(0,0%,20%,0.2);
  margin-bottom: 1.92308%;
  min-height: 252px;
}
#page [class^=content][class$="-4"] {
  width: 64.10256%;
  float: left;
  margin-left: 1.28205%;
  margin-right: 1.28205%;
}
#page [class^=content][class$="-6"] {
  width: 97.4359%;
  float: left;
  margin-left: 1.28205%;
  margin-right: 1.28205%;
}

.wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  min-height: 126px;
}
.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}
