#page .main, #page .aside {
  *zoom: 1;
}
#page .main:before, #page .aside:before, #page .main:after, #page .aside:after {
  content: "";
  display: table;
}
#page .main:after, #page .aside:after {
  clear: both;
}

body {
  margin: 0;
}

#page {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, transparent 10%, rgba(52, 192, 255, 0.2) 10%, rgba(129, 216, 255, 0.2) 90%, transparent 90%), linear-gradient(to bottom, #000 1px, transparent 1px);
  background-size: 100px, 100% 21px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
  min-height: 100vh;
}
#page:after {
  content: " ";
  display: block;
  clear: both;
}
#page .main {
  width: 680px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #7045CF;
  background-color: hsla(258,58%,54%,0.6);
  height: 504px;
  height: 36rem;
}
#page .main [class^=inner-] {
  height: 252px;
  height: 18rem;
}
#page .main [class^=inner-][class$=box1] {
  width: 12.90323%;
  float: left;
  margin-right: 1.6129%;
  background-color: #B64926;
  background-color: hsla(14,65%,43%,0.6);
}
#page .main [class^=inner-][class$=box2] {
  width: 27.41935%;
  float: left;
  margin-right: 1.6129%;
  background-color: #86AB1D;
  background-color: hsla(75,70%,39%,0.6);
}
#page .main [class^=inner-][class$=box3] {
  width: 27.41935%;
  float: left;
  margin-right: 1.6129%;
  background-color: #1D929B;
  background-color: hsla(184,68%,36%,0.6);
}
#page .main [class^=inner-][class$=box4] {
  width: 27.41935%;
  float: right;
  margin-right: 0;
  background-color: #D08006;
  background-color: hsla(36,94%,41%,0.6);
}
#page .aside {
  width: 380px;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #E99F3F;
  background-color: hsla(33,79%,58%,0.6);
  height: 357px;
  height: 25.5rem;
}
