@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

body {
	margin: 0;
	background: #000;
	font: 700 0.875rem/1.5 Lato, Arial;
	letter-spacing: 0.03em;
}

#wallpaper {
	height: 100vh;
	background: url(../images/wallpaper-01.jpg) no-repeat center top;
	background-size: cover;
}

.controller {
	position: fixed;
	top: 28px;
	right: 40px;
}

.controller::before,
.controller::after {
	content: "";
	display: table;
}

.controller::after {
	clear: both;
}

.controller ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.controller li {
	float: left;
	margin-right: 2px;
}

.controller a {
	position: relative;
	padding: 0.3em 1.2em;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.65);
}

.controller a::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 120px;
	height: 28px;
	background: #FC4A54;
	transform: skew(-45deg);
}

.controller a.on::before,
.controller a.on:hover::before {
	background: #38DED5;
}

.controller a.on:hover {
	cursor: default;
}



.controller a:hover::before,
.controller a:focus::before {
	background: #991425;
}

.controller a:focus {
	outline: none;
}