$h1-color: #FC4A54;
$h1-hover-color: darken($h1-color, 30%);

body {
	margin: 0;
	font-size: 0.875rem;
	letter-spacing: -0.01em;
}

h1 {
	color: $h1-color;
	font-size: 32px;

	&:hover {
		color: $h1-hover-color;
	}

	a {
		text-decoration: none;
		&:hover {
			color: lighten($h1-color, 30%);
		}
	}
}

#page {
	nav {
		ul {
			margin: {
				left: 0;
				right: 0;
			}
			padding-left: 0;
			list-style: none;
		}
	}
}
