@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

body {
	margin: 0;
	font: 14px/1.5 'Noto Sans', Dotum, sans-serif;
	color: #333;
}

#gnb .lv-2 {
	display: none;
}

#gnb .on + .lv-2,
#gnb li:hover .lv-2 {
	display: block;
}