extends part/_page_template

append settings

	- var page_title       = 'About < ★ Jade & Sass Project ★'
	- var isMain           = !true
	- var current_page     = 'about.html'
	- var using_jquery     = !true
	- var using_angular    = true
	- var meta_description = 'Bad Days Main Page - Have a Bad Time :-('
	- var meta_keywords    = 'Back-End, App, Design, Development'

	- var body_classlist   = ['about']
	- var greeting         = 'Bad Days! ▦ ㅡ ▦;'
	- var server_module    = 'LiveReload'
