extends part/_page_template

append settings

	- var page_title       = '★ Jade & Sass Project ★'
	- var isMain           = true
	- var current_page     = '/'
	- var using_jquery     = true
	- var using_angular    = false
	- var meta_description = 'Good Days Main Page - Have a Good Time :-)'
	- var meta_keywords    = 'Front-End, Web, Design, Development'

	- var body_classlist   = ['index']
	- var greeting         = 'Good Days! ^▽^'
	- var server_module    = 'BrowserSync'
