extends part/_page_template

append settings

	- var page_title       = 'Works < ★ Jade & Sass Project ★'
	- var isMain           = !true
	- var current_page     = 'works.html'
	- var using_jquery     = true
	- var using_angular    = true
	- var meta_description = 'Works... I\'m so Sad ㅠㅡㅠ'
	- var meta_keywords    = 'Development, Development, Development, Oops...'

	- var body_classlist   = ['works']
	- var greeting         = 'Ra! Ra! Ra! ★'
	- var server_module    = 'Hey!! Boy!!'

block main
	table(border="1")
		caption 우리의 작업 지시 표입니다.
		tr
			th 야근
			th 야근
			th 야근
		tr
			td 이것은 현실... ㅠㅡㅠ
			td 이것은 현실... ㅠㅡㅠ
			td 이것은 현실... ㅠㅡㅠ
