@charset "utf-8";

body {
	margin: 0;
}

#app {
	margin-top: 30px;
}

#app header {
	padding: 1em;
}

#app h1 {
	margin: 0;
	color: #FC414B;
	font-size: 32px;
	font-weight: normal; /* 400 */
	font-weight: 100;
}