//- nav#gnb
div&attributes({
	'id'    : 'gnb',
	'class' : [],
	'role'  : 'navigation'
})
	+navigation([
		{'href': '/',            'content': 'Home'   },
		{'href': 'about.html',   'content': 'About'  },
		{'href': 'works.html',   'content': 'Works'  },
	])