h1
	//- 보간법(Interpolation)
	| #{greeting}
	br
	span.browser-sync= server_module
	br
	span.jade Jade
	br
	span.sass sass

//- = 이스케이핑 처리
//- a(href="http://terms.naver.com/entry.nhn?docId=1615370&cid=50376&categoryId=50376") Sass

//- != 이스케이핑 처리 안함
//- pre: code!= "<div><p>야무 한글 로렘입숨 로렘입숨이란? 디자인을 위한 더미 텍스트!. 운동화도 설레게 해도, 가슴을 만들! 땀 실수조차도 하루를 빛나는, 내일의 젊음의 너, 쿵쿵대는 사명으로 눈부신 아름다운 티셔츠, 청춘의 설레는 어디에나 심장 피어나는 꽃보다 다 들리는 거추장스런? 가슴을!</p></div>"